joints: {
  joint_1: {channel: 0, max_angle: 1.57, min_angle: -1.57, offset_angle: 0, default_angle: 1, invert: false},
  joint_2: {channel: 1, max_angle: 1.57, min_angle: -1.57, offset_angle: 0, default_angle: 0, invert: false},
  joint_3: {channel: 2, max_angle: 1.57, min_angle: -1.57, offset_angle: 0, default_angle: 1, invert: false},
  joint_4: {channel: 3, max_angle: 1.57, min_angle: -1.57, offset_angle: 0, default_angle: 0, invert: false},
  gripper: {channel: 4, max_angle: 1.57, min_angle: -1.57, offset_angle: 0, default_angle: 0, invert: false}
}

controllers: {
  joint_controller: {type: joint_controller, joints: [joint_1, joint_2, joint_3, joint_4, gripper], publish_joint_states: true, publish_rate: 10 }
}
