controllers: {
  joint_controller: {baud: 115200, port: /dev/ttyUSB0, type: joint_controller,
  joints: [al5d_joint_1, al5d_joint_2, al5d_joint_3, al5d_joint_4, al5d_gripper], publish_joint_states: true, publish_rate: 25 }
}

joints: {
  al5d_joint_1: {channel: 0, max_angle: 1.57, min_angle: -1.57, offset_angle: -0.40,     default_angle: 0,    invert: true},
  al5d_joint_2: {channel: 1, max_angle: 3.14, min_angle: -0.001, offset_angle: 1.57,  default_angle: 2.7,  invert: false},
  al5d_joint_3: {channel: 2, max_angle: 0.0,   min_angle: -3.14, offset_angle: -1.57, default_angle: -2.5, invert: true},
  al5d_joint_4: {channel: 3, max_angle: 1.57, min_angle: -1.57, offset_angle: 0,     default_angle: 0,    invert: false},
  al5d_gripper: {channel: 4, max_angle: 1.58, min_angle: -1.57, offset_angle: 0,     default_angle: 0,    invert: false}
}
